<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    
<script>
    function Post(){
        $.post("/POST/Location",
        {
          ID: "Donald Duck",
          Lat: "Duckburg",
            Lon: "Duckburg"
        },
        function(data,status){
            alert("Data: " + data.location.ID + "\nStatus: " + status);
        });
    };
    
    function Get(){
        $.get("/GET/Location",
        function(data,status){
            alert("Data: " + data[0].ID + "\nStatus: " + status);
        });
    };
    
    function Put(){
        $.ajax({
            type: 'PUT', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
            dataType: 'json', // Set datatype - affects Accept header
            url: "/PUT/Location", // A valid URL
            data: {ID : "Donald Duck", Lat : "ff", Lon : "aa"} // Some data e.g. Valid JSON as a string
        });
    };

</script>
</head>
<body>
    <button onclick="Post()">Post</button>
    <button onclick="Get()">Get</button>
    <button onclick="Put()">Put</button>
</body>
</html>